<div class="user-detail-nav cf">
  <div class="user-detail-list">
    <ul class="site-data">
      <li class="follower"><a href="">粉丝</a></li>
      <li class="following"><a href="">fo我追的人</a></li>
      <li class="watched-books"><a href="">关注的书</a></li>
      <li class="my-books"><a href="">我写的书</a></li>
      <li class="data"><a href="">Data</a></li>
    </ul>

    <ul class="social-links">
      <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
      <li><a href=""><i class="fa fa-github-square"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href=""><i class="fa fa-tumblr-square"></i></a></li>
    </ul>
  </div>
  <div class="user-detail-content">
    <div class="follower" style="display: none">
      <%= partial 'user-detail-content/follower' %>
    </div>
    <div class="fo我追的人" style="display: none">
      <%= partial 'user-detail-content/following' %>
    </div>
    <div class="watched-books" style="display: none">
      <%= partial 'user-detail-content/watched_books' %>
    </div>
    <div class="my-books" style="display:none">
      <%= partial 'user-detail-content/my_books' %>
    </div>
    <div class="data" style="display:none">
      <%= partial 'user-detail-content/data' %>
    </div>
  </div>
</div>